body {
    margin: 0;
    color: #335576;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    display:inline-block;
}

.nav-bar {
    background-color: #FFFFFF;
    display:flex;
    justify-content: space-between;
    padding: 0% 6%;
}

.nav-bar--title {
    display:flex;
}

.nav-bar__list {
    display:flex;
    justify-content: space-between;
    list-style: none;
    height: 30px;
    width: 30%;
}

.nav-bar__list--active{
    border-bottom: 4px solid #DB7A4E;
}

.nav-bar__list--link {
    text-decoration: none;
    color:black;
    font-size: 20px;
    display:inline-block;
}

.footer {
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    background-color: #FEFAF5;
}

.footer__section {
    width: 45%;
}

.footer__section--subtitles {
    color: #DB7A4E;
}

.footer__section__days {
    display: flex;
    justify-content: space-between;

}

.footer__section--icon {
    max-height: 15%;
}

.footer img {
    margin-right: 3%;
}

.footer__section--title {
    margin-bottom: 28%;
}