body{

    margin: 0;
}

.nav-bar {
    background-color: #FFFFFF;
    position: sticky;
    display:flex;
    justify-content: space-between;
    padding: 0% 6%;
}

.nav-bar--title {
    display:flex;
}

.nav-bar__list {
    display:flex;
    justify-content: space-between;
    list-style: none;
    height: 30px;
    width: 30%;
}

.nav-bar__list--item{
    border-bottom: 4px solid #DB7A4E;
}
.nav-bar__list--link {
    text-decoration: none;
    color:black;
    display:inline-block;
    font-size: 20px;
}

li {
    display:inline-block;
}