body {
    position: relative;
    color: #335576;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: #FEFAF5;
    padding: 0% 6%;
    display: flex;
    flex-direction: row;
}

.header__text {
    
}

.header__pic {
    
    
}

.header__pic--image {

    width: 100%;

}

.header__text--title {

    font-size: 2.5em;
}